#backup-container {
  width: 100%;
  height: auto;
  padding: 2em !important;
}

#backupcontainer-form {
  width: 68em;
  height: 37em;
  padding: 2em !important;
  margin: auto auto !important;
  margin-top: 1em !important;
  background-color: white;
  -webkit-box-shadow: 0px 0px 2px #000;
  -moz-box-shadow: 0px 0px 2px #000;
  -o-box-shadow: 0px 0px 2px #000;
  -ms-box-shadow: 0px 0px 2px #000;
  -khtml-box-shadow: 0px 0px 2px #000;
  box-shadow: 0px 0px 2px #000;
}

.backup-title {
  border: 1px solid black;
  width: 100%;
}
.backup-title h3 {
  font-size: 1em;
}
#backupform {
  height: 96%;
  border: 1px solid black;
  width: 100%;
}
.backinput-inputfield {
  border: 1px solid black;
  width: 100%;
}

.backup-main-settings {
  height: 6em;
}
.backup-modules {
  height: 21em;
}
.backupbtns {
  height: 4.55em;
}
.backupinput-field-title {
  height: auto;
  border: 1px solid black;
  width: 100%;
  margin-top: 1em !important;
}

.backupinput-field-title h4 {
  font-size: 0.9em;
}

.backup-main-settings #autobackupcontainer {
  height: 3.8em;
  width: 35%;
  border: 1px solid black;
  display: inline-block;
}

.backup-main-settings #autobackupcontainer {
  padding-left: 5rem !important;
}
.backup-main-settings #everybackupcontainer {
  height: 3.8em;
  width: 40%;
  border: 1px solid black;
  display: inline-block;
}

.backup-main-settings .backup-input-field > input[type="radio"] {
  width: 1em !important;
  display: inline-block;
  height: 1em !important;
  margin-top: 0.9em !important;
  position: relative;
  top: 0.3em !important;
}
.backup-main-settings .backup-input-field h5 {
  font-size: 0.8em;
  display: inline;
}
.backup-main-settings .backup-input-field label {
  display: inline;
  font-size: 0.8em;
}
