#modal-reports {
  position: fixed;
  display: none;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.tablecontainer-reports {
  width: 92%;
  margin-top: 1em !important;
  margin-left: 5em !important;
  background-color: white;
  border: 1px solid gray;
  -webkit-box-shadow: 0px 0px 2px gray;
  -moz-box-shadow: 0px 0px 2px gray;
  -o-box-shadow: 0px 0px 2px gray;
  -ms-box-shadow: 0px 0px 2px gray;
  -khtml-box-shadow: 0px 0px 2px gray;
  box-shadow: 0px 0px 2px gray;
  margin: auto auto !important;
  height: auto;
}

#reports-table {
  padding-top: 3em !important;
  padding-bottom: 5em !important;
  height: auto;
}

.tableheader-reports {
  height: 120px;
}

.tablecontainer-reports .tableheader-reports h3 {
  font-size: 1em;
  padding: 1em !important;
  padding-top: 1.2em !important;
  width: 100%;

  display: inline-block;
}
.searchbox-reports {
  height: 60px;
  width: 100%;
  margin-right: 20px !important;
  padding-left: 1em !important;
  padding-right: 1em !important;
  padding-top: 1em !important;
  padding-bottom: 1em !important;
}

.searchbox-input-reports {
  float: right;
  padding: 0.6em !important;
  height: 25px;
  width: 150px;
  font-size: 0.8em;
}
.searchboxfilter {
  height: 25px;
  width: 70%;
  float: left;
}
.searchboxfilter .filter {
  height: 100%;
  width: 250px;
  display: inline-block;
  margin-right: 0.5em !important;
}
.searchboxfilter .filter label,
.searchboxfilter .filter select,
.searchboxfilter .filter input[type="text"] {
  display: inline-block !important;
  height: inherit !important;
  font-size: 0.8em;
}

.searchboxfilter .filter label {
  width: 20%;
  float: left;
  text-align: center;
}
.searchboxfilter .filter select,
.searchboxfilter .filter input[type="text"] {
  width: 75%;
  float: right;
  text-align: center;
  padding-right: 1em !important;
}

.searchboxfilter .filter input[type="text"] {
  width: 80%;
}
.searchboxfilter .filter select {
  margin-right: 0.9em !important;
}
.searchboxfilter .strandfilter,
.toFilter,
.fromFilter {
  width: 250px;
}
.toFilter,
.fromFilter {
  width: 200px !important;
}

.tablebody-reports table thead tr th,
.tablebody-reports table tbody tr td,
.tablebody-reports table tbody tr th {
  text-align: center;
  padding-top: 0.2em !important;
  padding-bottom: 0.2em !important;
}

.tablebody-reports table thead tr th {
  font-size: 0.6em !important;
  font-weight: bold;
}
.tablebody-reports table thead tr th:first-child {
  padding-left: 1em !important;
}

.tablebody-reports table tbody tr td,
.tablebody-reports table tbody tr th {
  font-size: 0.7em !important;
}

.tablebody-reports table tbody tr th {
  padding-left: 1em !important;
}
#graduateshowinfo {
  width: 800px;
  height: 550px;
  margin: auto auto !important;
  background-color: #f1f1f1;
  padding: 10px !important;
  margin-top: 70px !important;
  -webkit-box-shadow: 0px 0px 3px #000000;
  -moz-box-shadow: 0px 0px 3px #000000;
  -o-box-shadow: 0px 0px 3px #000000;
  -ms-box-shadow: 0px 0px 3px #000000;
  -khtml-box-shadow: 0px 0px 3px #000000;
  box-shadow: 0px 0px 3px #000000;
}
#closebtncontainer {
  width: 100%;
  /*
    border: 1px solid black;
    */
  height: 35px;
  padding: 5px !important;
  padding: 10px !important;
}

#closebtncontainer #closebtn-graduates {
  display: block;
  float: right;
  height: 100%;
  width: 25px;
  /*
    border: 1px solid black;
    */
  background-image: url("../img/times-solid.svg");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  cursor: pointer;
}

.graduateid {
  height: 30px;
  width: 100%;
  /*
    border: 1px solid black;
    */
  padding-left: 1em !important;
}
.informationbody {
  /*
    border: 1px solid black;
    */
  height: 492px;
}
.informationbody form {
  height: 100%;
  width: 100%;
  padding: 5px !important;
}
.informationdevider {
  height: 96px;
  width: 100%;
  /*
    border: 1px solid black;
    */
  padding-left: 20px !important;
  padding-right: 10px !important;
  padding-top: 10px !important;
}
.informationdevider .inputfield {
  display: inline-block;
}

.informationdevider .inputfield label,
.informationdevider .inputfield input {
  font-size: 0.8em;
}
.informationdevider .inputfield {
  margin-right: 0.6em !important;
}

.informationdevider .inputfield input {
  padding-left: 0.9em !important;
}
#addressinfo {
  width: 50%;
}
#emailinfo {
  width: 200px;
}

.graduatepic {
  position: absolute;
  z-index: 1;
  border: 1px solid black;
  height: 135px;
  width: 135px;
  right: 365px;
  top: 145px;
}

#table-settings-reports {
  height: 70px;
}

#table-settings-reports .painatecontainer {
  height: 100%;
}

#table-settings-reports .painatecontainer .paginated-container {
  top: 12px;
}
.report-export-container {
  height: 52px;
  width: 100%;

  padding: 5px !important;
  padding-right: 50px !important;
  padding-left: 50px !important;
}

.reportbtns {
  display: inline-block;
  height: 35px;
  width: 80px;
  margin-top: 11px !important;
  margin-right: 1em !important;
}
.reportbtn {
  height: 100%;
  width: 100%;
  padding-left: 3px !important;
  padding-right: 3px !important;
  font-size: 0.7em;
  color: whitesmoke;
  background-color: #0984e3;
  -webkit-box-shadow: 0px 0px 2px gray;
  -moz-box-shadow: 0px 0px 2px gray;
  -o-box-shadow: 0px 0px 2px gray;
  -ms-box-shadow: 0px 0px 2px gray;
  -khtml-box-shadow: 0px 0px 2px gray;
  box-shadow: 0px 0px 2px gray;
}
