#modal-scholarship {
  position: fixed;
  display: none;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

.scholarshipcontainer {
  width: 890px;
  height: 550px;
  margin: auto auto !important;
  background-color: #f1f1f1;
  padding: 1em !important;
  /* border: 1px solid black; */
  -webkit-box-shadow: 0px 0px 2px #000;
  -moz-box-shadow: 0px 0px 2px #000;
  -o-box-shadow: 0px 0px 2px #000;
  -ms-box-shadow: 0px 0px 2px #000;
  -khtml-box-shadow: 0px 0px 2px #000;
  box-shadow: 0px 0px 2px #000;
  margin-top: 3rem !important;
}

.scholarshipclosebtn {
  /* border: 1px solid black; */
  width: 100%;
  height: 30px;
  padding: 5px !important;
}

.closebtnscholarship {
  height: 100%;
  width: 25px;
  background-image: url("../img/times-solid.svg");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  float: right;
}
.closebtnscholarship:hover {
  cursor: pointer;
}

.scholarship-modal-container {
  /* border: 1px solid black; */
  height: 490px;
  width: 100%;
  padding: 5px !important;
  padding-top: 23px !important;
}
.scholarship-modal-container > form {
  width: 100%;
  height: 100%;
}

.scholarship-modal-container > form .scholarshipdevider {
  height: 80px;
  width: 100%;
  /* border: 1px solid black; */
  padding-top: 0.9em !important;
  padding-left: 0.9em !important;
  padding-right: 0.9em !important;
}

.scholarship-modal-container > form .scholarshipdevider .field-input {
  display: inline-block;
  height: 100%;

  /* border: 1px solid black; */
}

.scholarship-modal-container > form #companyinfo .field-input {
  margin-right: 50px !important;
  width: 110px;
}

.scholarship-modal-container > form #companyinfo .field-input:nth-child(1) {
  margin-right: 66px !important;
}

.scholarship-modal-container > form #companyinfo .field-input:nth-child(2) {
  margin-right: 66px !important;
}

.scholarship-modal-container > form #companyinfo .field-input label,
.scholarship-modal-container > form #companyinfo .field-input,
input {
  width: 180px;
}
.scholarship-modal-container > form #scholarship-job-desc_and_qua {
  height: 300px;
}

.scholarship-modal-container > form #scholarship-job-desc_and_qua .field-input {
  height: 100%;
  margin-right: 6px !important;
}
.scholarship-modal-container
  > form
  #scholarship-job-desc_and_qua
  .field-input:nth-child(1) {
  margin-right: 7.4em !important;
}
.scholarship-modal-container
  > form
  #scholarship-job-desc_and_qua
  .field-input:nth-child(1) {
  margin-right: 71px !important;
}

.scholarship-modal-container > form #scholarshipdate {
  height: 90px;
}

.scholarship-modal-container > form #scholarshipdate .field-input {
  margin-right: 3em !important;
}

.scholarship-modal-container > form #addscholarshipadd {
  padding-top: 25px !important;
}

.scholarship-modal-container > form .scholarshipdevider .field-input textarea {
  padding-top: 0.9em !important;
  resize: none;
}
.scholarship-modal-container > form .scholarshipdevider .field-input textarea,
.scholarship-modal-container > form .scholarshipdevider .field-input input {
  padding-left: 0.8em !important;
  padding-right: 0.8em !important;
}
.scholarship-modal-container > form .scholarshipdevider .field-input input,
.scholarship-modal-container > form .scholarshipdevider .field-input label,
.scholarship-modal-container > form .scholarshipdevider .field-input textarea {
  font-size: 0.8em;
}

.scholarship-modal-container
  > form
  #addscholarshipadd
  .addnewscholarshipbutton {
  width: 70px;
  height: 35px;
  display: inline-block;
  margin-right: 1em !important;
}

#deletescholarship {
  width: 300px;
  height: 260px;
  margin-top: 200px !important;
}

#deletescholarship .scholarship-modal-container {
  width: 268px;
  height: 200px;
}

#deletescholarship .scholarship-modal-container .deleteinfo-container {
  height: 70%;
  width: 100%;

  padding: 0.7em !important;
}
#deletescholarship .scholarship-modal-container .deleteinfo-container p {
  font-size: 0.9rem;
}

#deletescholarship
  .scholarship-modal-container
  .deleteinfo-container
  .confirm-btn {
  height: 30%;
  width: 100%;
}
.confirm-btn .buttons {
  height: 100%;
  width: 30%;
  display: inline-block;
}

.confirm-btn .buttons:nth-child(1) {
  margin-right: 4em !important;
  margin-left: 1.1em !important;
  margin-top: 1em !important;
}

.confirm-btn .buttons button {
  height: 100%;
  width: 100%;
  padding: 5px 5px 5px 5px !important;
  font-size: 0.7em;
  color: whitesmoke;
  background-color: #d63031;
  -webkit-box-shadow: 0px 0px 2px gray;
  -moz-box-shadow: 0px 0px 2px gray;
  -o-box-shadow: 0px 0px 2px gray;
  -ms-box-shadow: 0px 0px 2px gray;
  -khtml-box-shadow: 0px 0px 2px gray;
  box-shadow: 0px 0px 2px gray;
}

.confirm-btn .buttons button:hover {
  color: white;
}

.addnewscholarshipbutton button:nth-child(1) {
  width: 100%;
  height: 100%;
  font-size: 0.8em;
  -webkit-box-shadow: 0px 0px 2px #000;
  -moz-box-shadow: 0px 0px 2px #000;
  -o-box-shadow: 0px 0px 2px #000;
  -ms-box-shadow: 0px 0px 2px #000;
  -khtml-box-shadow: 0px 0px 2px #000;
  box-shadow: 0px 0px 2px #000;
  background: #0984e3;
  color: whitesmoke;
}
.addnewscholarshipbutton button:hover {
  color: whitesmoke;
}

/** for table of joboffer */

.tablecontainer-scholarship {
  width: 92%;
  margin-top: 1em !important;
  margin-left: 5em !important;
  background-color: white;
  border: 1px solid gray;
  -webkit-box-shadow: 0px 0px 2px gray;
  -moz-box-shadow: 0px 0px 2px gray;
  -o-box-shadow: 0px 0px 2px gray;
  -ms-box-shadow: 0px 0px 2px gray;
  -khtml-box-shadow: 0px 0px 2px gray;
  box-shadow: 0px 0px 2px gray;
  margin: auto auto !important;
  height: auto;
}

#scholarship-table {
  padding-top: 3em !important;
  padding-bottom: 5em !important;
  height: auto;
}

.tableheader-scholarship {
  height: 120px;
}

.tablecontainer-scholarship .tableheader-scholarship h3 {
  font-size: 1em;
  padding: 1em !important;
  padding-top: 1.2em !important;
  width: 100%;

  display: inline-block;
}
.searchbox-scholarship {
  height: 60px;
  width: 100%;
  margin-right: 20px !important;
  padding-left: 1em !important;
  padding-right: 1em !important;
  padding-top: 1em !important;
  padding-bottom: 1em !important;
}

.searchbox-input-scholarship {
  float: right;
  padding: 0.6em !important;
  height: 25px;
  width: 150px;
  font-size: 0.8em;
}
.searchboxfilter {
  height: 25px;
  width: 70%;
  float: left;
}
.searchboxfilter .filter {
  height: 100%;
  width: 250px;
  display: inline-block;
  margin-right: 0.5em !important;
}
.searchboxfilter .filter label,
.searchboxfilter .filter select,
.searchboxfilter .filter input[type="text"] {
  display: inline-block !important;
  height: inherit !important;
  font-size: 0.8em;
}

.searchboxfilter .filter label {
  width: 20%;
  float: left;
  text-align: center;
}
.searchboxfilter .filter select,
.searchboxfilter .filter input[type="text"] {
  width: 75%;
  float: right;
  text-align: center;
  padding-right: 1em !important;
}

.searchboxfilter .filter input[type="text"] {
  width: 80%;
}
.searchboxfilter .filter select {
  margin-right: 0.9em !important;
}
.searchboxfilter .strandfilter,
.toFilter,
.fromFilter {
  width: 250px;
}
.toFilter,
.fromFilter {
  width: 200px !important;
}

.tablebody-scholarship table thead tr th,
.tablebody-scholarship table tbody tr td,
.tablebody-scholarship table tbody tr th {
  text-align: center;
  padding-top: 0.2em !important;
  padding-bottom: 0.2em !important;
}

.tablebody-scholarship table thead tr th {
  font-size: 0.6em !important;
  font-weight: bold;
}
.tablebody-scholarship table thead tr th:first-child {
  padding-left: 1em !important;
}

.tablebody-scholarship table tbody tr td,
.tablebody-scholarship table tbody tr th {
  font-size: 0.7em !important;
}

.tablebody-scholarship table tbody tr th {
  padding-left: 1em !important;
}

#table-settings-scholarship {
  height: 70px;
}

#table-settings-scholarship .painatecontainer {
  height: 100%;
}

#table-settings-scholarship .painatecontainer .paginated-container {
  top: 12px;
}
.scholarship-export-container {
  height: 52px;
  width: 100%;
  padding: 5px !important;
  padding-right: 50px !important;
  padding-left: 50px !important;
}

.scholarshipbtns {
  display: inline-block;
  height: 35px;
  width: 80px;
  margin-top: 11px !important;
  margin-right: 1em !important;
}
.scholarshipbtn {
  height: 100%;
  width: 100%;
  padding-left: 3px !important;
  padding-right: 3px !important;
  font-size: 0.6em;
  color: whitesmoke;
  background-color: #0984e3;
  -webkit-box-shadow: 0px 0px 2px gray;
  -moz-box-shadow: 0px 0px 2px gray;
  -o-box-shadow: 0px 0px 2px gray;
  -ms-box-shadow: 0px 0px 2px gray;
  -khtml-box-shadow: 0px 0px 2px gray;
  box-shadow: 0px 0px 2px gray;
}

.scholarshipbtn:hover {
  color: white;
}
